.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
libs/android-async-http-1.4.4.jar
libs/AndroidEasingFunctions-1.0.0.jar
libs/AndroidViewAnimations-1.1.3.jar
libs/joda-time-2.4-javadoc.jar
libs/joda-time-2.4.jar
libs/NineOldAndroid-2.4.0.jar
libs/Parse-1.7.0/Parse.Android/Parse.Android.dll
libs/Parse-1.7.0/Parse.Android/Parse.Android.xml
libs/Parse-1.7.0/Parse.iOS/Parse.iOS.dll
libs/Parse-1.7.0/Parse.iOS/Parse.iOS.xml
libs/Parse-1.7.0/Parse.NetFx45/Parse.dll
libs/Parse-1.7.0/Parse.NetFx45/Parse.NetFx45.dll
libs/Parse-1.7.0/Parse.NetFx45/Parse.NetFx45.xml
libs/Parse-1.7.0/Parse.NetFx45/Parse.xml
libs/Parse-1.7.0/Parse.Phone/Parse.dll
libs/Parse-1.7.0/Parse.Phone/Parse.Phone.dll
libs/Parse-1.7.0/Parse.Phone/Parse.Phone.xml
libs/Parse-1.7.0/Parse.Phone/Parse.xml
libs/Parse-1.7.0/Parse.Unity/link.xml
libs/Parse-1.7.0/Parse.Unity/Parse.Unity.dll
libs/Parse-1.7.0/Parse.Unity/Parse.Unity.xml
libs/Parse-1.7.0/Parse.Unity/Plugins/Android/AndroidManifest.xml
libs/Parse-1.7.0/Parse.WinRT/Parse.dll
libs/Parse-1.7.0/Parse.WinRT/Parse.WinRT.dll
libs/Parse-1.7.0/Parse.WinRT/Parse.WinRT.xml
libs/Parse-1.7.0/Parse.WinRT/Parse.xml
libs/volley.jar
src/androidTest/java/com/delta/attendancemanager/ApplicationTest.java
src/main/AndroidManifest.xml
src/main/java/com/delta/attendancemanager/AlarmReceiver.java
src/main/java/com/delta/attendancemanager/AlarmService.java
src/main/java/com/delta/attendancemanager/APIManagerService.java
src/main/java/com/delta/attendancemanager/app/AppController.java
src/main/java/com/delta/attendancemanager/AtAdapter.java
src/main/java/com/delta/attendancemanager/AttendanceAdapter.java
src/main/java/com/delta/attendancemanager/AttendanceServerService.java
src/main/java/com/delta/attendancemanager/backup.java
src/main/java/com/delta/attendancemanager/BootReceiver.java
src/main/java/com/delta/attendancemanager/CardInfo.java
src/main/java/com/delta/attendancemanager/Chat.java
src/main/java/com/delta/attendancemanager/ChatAdapter.java
src/main/java/com/delta/attendancemanager/Constants.java
src/main/java/com/delta/attendancemanager/CourseInfo.java
src/main/java/com/delta/attendancemanager/CRhome.java
src/main/java/com/delta/attendancemanager/CRhomesliderfragment.java
src/main/java/com/delta/attendancemanager/CRLogin.java
src/main/java/com/delta/attendancemanager/CRSlidingTabsFragment.java
src/main/java/com/delta/attendancemanager/DisplayToast.java
src/main/java/com/delta/attendancemanager/EditAdapter.java
src/main/java/com/delta/attendancemanager/EditCardInfo.java
src/main/java/com/delta/attendancemanager/EditHistory.java
src/main/java/com/delta/attendancemanager/EditUpcomingTT.java
src/main/java/com/delta/attendancemanager/EditWeeklyTT.java
src/main/java/com/delta/attendancemanager/JSONParser.java
src/main/java/com/delta/attendancemanager/MainActivity.java
src/main/java/com/delta/attendancemanager/ManageAttendance.java
src/main/java/com/delta/attendancemanager/ManageCourse.java
src/main/java/com/delta/attendancemanager/MySqlAdapter.java
src/main/java/com/delta/attendancemanager/ParseHandler.java
src/main/java/com/delta/attendancemanager/ParseReceiver.java
src/main/java/com/delta/attendancemanager/ParseUser.java
src/main/java/com/delta/attendancemanager/retrieve.java
src/main/java/com/delta/attendancemanager/SlidingTabLayout.java
src/main/java/com/delta/attendancemanager/SlidingTabsFragment.java
src/main/java/com/delta/attendancemanager/SlidingTabStrip.java
src/main/java/com/delta/attendancemanager/SubjectAdapter.java
src/main/java/com/delta/attendancemanager/SubjectAttendance.java
src/main/java/com/delta/attendancemanager/SubjectInfo.java
src/main/java/com/delta/attendancemanager/TomorrowUpdateService.java
src/main/java/com/delta/attendancemanager/TTimings.java
src/main/java/com/delta/attendancemanager/UpcomingTT.java
src/main/java/com/delta/attendancemanager/UpdateMyAttendance.java
src/main/java/com/delta/attendancemanager/UpdateTTService.java
src/main/java/com/delta/attendancemanager/Userhome.java
src/main/java/com/delta/attendancemanager/UserHomeSliderFragment.java
src/main/java/com/delta/attendancemanager/ViewMyAttendance.java
src/main/java/com/delta/attendancemanager/WeeklyTimetable.java
src/main/res/drawable-hdpi/delta.png
src/main/res/drawable-hdpi/ic_launcher.png
src/main/res/drawable-mdpi/ic_launcher.png
src/main/res/drawable-xhdpi/ic_launcher.png
src/main/res/drawable-xxhdpi/ic_launcher.png
src/main/res/layout/activity_course_info.xml
src/main/res/layout/activity_crhome.xml
src/main/res/layout/activity_crhome2.xml
src/main/res/layout/activity_crlogin.xml
src/main/res/layout/activity_edit_history.xml
src/main/res/layout/activity_edit_upcoming_tt.xml
src/main/res/layout/activity_edit_weekly_tt.xml
src/main/res/layout/activity_main.xml
src/main/res/layout/activity_manage_attendance.xml
src/main/res/layout/activity_manage_course.xml
src/main/res/layout/activity_subject_attendance.xml
src/main/res/layout/activity_upcoming_tt.xml
src/main/res/layout/activity_update_my_attendance.xml
src/main/res/layout/activity_user_home.xml
src/main/res/layout/activity_userhome.xml
src/main/res/layout/activity_view_my_attendance.xml
src/main/res/layout/activity_weekly_timetable.xml
src/main/res/layout/add_att_dialog.xml
