<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delta.attendancemanager" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserHome"
            android:label="@string/title_activity_user_home" >
        </activity>
        <activity
            android:name=".WeeklyTimetable"
            android:label="@string/title_activity_weekly_timetable"
            android:parentActivityName=".UserHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.UserHome" />
        </activity>
        <activity
            android:name=".ManageAttendance"
            android:label="@string/title_activity_manage_attendance"
            android:parentActivityName=".UserHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.UserHome" />
        </activity>
        <activity
            android:name=".UpdateMyAttendance"
            android:label="@string/title_activity_update_my_attendance"
            android:parentActivityName=".ManageAttendance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.ManageAttendance" />
        </activity>
        <activity
            android:name=".ViewMyAttendance"
            android:label="@string/title_activity_view_my_attendance"
            android:parentActivityName=".ManageAttendance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.ManageAttendance" />
        </activity>
        <activity
            android:name=".SubjectAttendance"
            android:label="@string/title_activity_subject_attendance"
            android:parentActivityName=".ViewMyAttendance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.ViewMyAttendance" />
        </activity>
        <activity
            android:name=".EditHistory"
            android:label="@string/title_activity_edit_history"
            android:parentActivityName=".SubjectAttendance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.SubjectAttendance" />
        </activity>
        <activity
            android:name=".CRLogin"
            android:label="@string/title_activity_crlogin"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.MainActivity" />
        </activity>
        <activity
            android:name=".CRHome"
            android:label="@string/title_activity_crhome" >
        </activity>
        <activity
            android:name=".EditWeeklyTT"
            android:label="@string/title_activity_edit_weekly_tt"
            android:parentActivityName=".CRHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.CRHome" />
        </activity>
        <activity
            android:name=".UpcomingTT"
            android:label="@string/title_activity_upcoming_tt"
            android:parentActivityName=".CRHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.CRHome" />
        </activity>
        <activity
            android:name=".EditUpcomingTT"
            android:label="@string/title_activity_edit_upcoming_tt"
            android:parentActivityName=".CRHome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.CRHome" />
        </activity>
    </application>

</manifest>
