<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delta.attendancemanager" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.delta.attendancemanager.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.delta.attendancemanager.permission.C2D_MESSAGE" />

    <!-- meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/"/ TODO: change push icon. -->
    <application
        android:name=".ParseUser"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeeklyTimetable"
            android:label="@string/title_activity_weekly_timetable"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".Userhome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.Userhome" />
        </activity>
        <activity
            android:name=".ManageAttendance"
            android:label="@string/title_activity_manage_attendance"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".Userhome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.Userhome" />
        </activity>
        <activity
            android:name=".UpdateMyAttendance"
            android:label="@string/title_activity_update_my_attendance"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ManageAttendance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.ManageAttendance" />
        </activity>
        <activity
            android:name=".ViewMyAttendance"
            android:label="@string/title_activity_view_my_attendance"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ManageAttendance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.ManageAttendance" />
        </activity>
        <activity
            android:name=".SubjectAttendance"
            android:label="@string/title_activity_subject_attendance"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".ViewMyAttendance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.ViewMyAttendance" />
        </activity>
        <activity
            android:name=".EditHistory"
            android:label="@string/title_activity_edit_history"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".SubjectAttendance" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.SubjectAttendance" />
        </activity>
        <activity
            android:name=".CRLogin"
            android:label="@string/title_activity_crlogin"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.MainActivity" />
        </activity>
        <activity
            android:name=".EditWeeklyTT"
            android:label="@string/title_activity_edit_weekly_tt"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".CRhome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.CRhome" />
        </activity>
        <activity
            android:name=".UpcomingTT"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_upcoming_tt"
            android:parentActivityName=".CRhome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.CRhome" />
        </activity>
        <activity
            android:name=".EditUpcomingTT"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_edit_upcoming_tt"
            android:parentActivityName=".CRhome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.delta.attendancemanager.CRhome" />
        </activity>

        <service
            android:name=".APIManagerService"
            android:exported="false" >
        </service>

        <activity
            android:name=".ManageCourse"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_manage_course" >
        </activity>

        <service
            android:name=".UpdateTTService"
            android:exported="false" >
        </service>
        <service
            android:name=".TomorrowUpdateService"
            android:exported="false" >
        </service>

        <activity
            android:name=".CourseInfo"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_course_info" >
        </activity>
        <activity
            android:name=".Userhome"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_userhome" >
        </activity>
        <activity
            android:name=".CRhome"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_crhome" >
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".BootReceiver"
            android:enabled="false"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AlarmService"
            android:exported="false" >
        </service>
        <service
            android:name=".AttendanceServerService"
            android:exported="false" >
        </service>
        <service android:name="com.parse.PushService"
            android:exported="false"/>

        <receiver
            android:name=".ParseReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />

                <category android:name="com.delta.attendancemanager" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.delta.attendancemanager" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ParseHandler"
            android:exported="false" >
        </service>
    </application>

</manifest>
